h1 {
  text-align: center;
}

@font-face {
    font-family: 'CustomFont';
    src: url('ShipporiGochicB2-Bold.ttf') format('truetype');
    /* Voeg andere lettertypevarianten hier toe indien nodig */
}

.jpfont {
  font-family: 'CustomFont';
}
