h1 {
  text-align: center;
}

a {
display:block;
text-align:center;
}

.tocenter {
margin: auto;
}

.toleft {
  justify-content: left;
  align-items: left;
  margin-right: 800px;
}

.font-face {
    font-family: 'CustomFont';
    src: url('Files/Fonts/ShipporiGochicB2-Bold.ttf') format('truetype');
    /* Voeg andere lettertypevarianten hier toe indien nodig */
}

.bgblur {
  filter: blur(60%);
}

body {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
}

#imageborder {
  border-radius: 25px;
  border: 2px solid #CBC3E3;
  padding: 20px;
  width: 200px;
  height: 150px;
}
